<?xml version="1.0" encoding="utf-8"?>
<!-- 해설: 패키지 이름·버전·앱 화면·하드웨어 조건을 선언합니다. INTERNET과 전체 저장소 접근 권한은 요청하지 않습니다. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.goodg.roomatelier.autosave" android:versionCode="2" android:versionName="1.2.0">
  <!-- 해설: 최소 API 26은 Android 8.0입니다. 최신 WebView의 웹 기능 지원도 별도로 필요합니다. -->
<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  <!-- 해설: 하드웨어 가속으로 WebGL을 사용하고, 화면 회전 시 Activity를 다시 만들지 않도록 구성합니다. -->
<application android:label="룸 아틀리에 · 자동저장" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:theme="@style/AppTheme" android:allowBackup="false" android:usesCleartextTraffic="false" android:hardwareAccelerated="true" android:supportsRtl="true">
    <activity android:name="io.goodg.roomatelier.MainActivity" android:exported="true" android:enableOnBackInvokedCallback="false" android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|uiMode" android:windowSoftInputMode="adjustResize">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
